/* 
    Document   : default
    Created on : 28-Sep-2012, 20:32:01
    Author     : rogpc
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

h1
{
    font: 35px "sergio ui", sans-serif ;
    font-weight: 800;
}

body
{
    background-color: grey;
    font: 16px "sergio ui", sans-serif;
    color: White;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
}
a
{
    color: White;
}
a:hover 
{
    color: White;
}      

#container {
    width: 900px;
    margin: 0 auto;
    text-align: left;
    min-height: 300px;
    background-color: White;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    width: 300px;
    margin: auto;
}

li {
    float: right;
}

ul a {
    background-image:  url("../include/navi_bg_divider.png");
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 32px;
    padding-left: 32px;
    display: block;
    line-height: 80px;
    text-decoration: none;
    font-family: "sergio ui";
    font-size: 21px;
    color: White;
}

ul a:hover {
    color: #FFF;
}

fullwidth {
    width: 900px;
    height: 200px;
    text-align: right;
}

.headertext {
    text-align: right;
    width: 350px;
}

.headernav {
   width: 700px; 
   float: right;
}

table {
    padding: 2px;
}