/* 
    Document   : default
    Created on : 28-Sep-2012, 20:32:01
    Author     : rogpc
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

h1
{
    font: 35px "sergio ui", sans-serif ;
    font-weight: 800;
}

#dots {
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:transparent url('../images/bg-dot-top.png') 0 0 repeat-x;
    z-index:-1;
}

body {
    background-color: #e4eaef;
    font: 16px "sergio ui", sans-serif;
    color: Black;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
    width: 900px;
}

a {
    color: Black;
    padding-left: 5px;
}

a:hover {
    color: Grey;
}      

#container {
    width: 900px;
    margin: 0 auto;
    text-align: left;
    min-height: 300px;
    background-color: White;
    color: black;
    border: 1px dotted;
    border-radius:7px;
    padding: 10px 10px 10px 10px;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    width: 600px;
    margin: auto;
}

li {
    float: right;
}

ul a {
    background-image:  url("../include/dotty-top.png");
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 32px;
    padding-left: 32px;
    display: block;
    line-height: 80px;
    text-decoration: none;
    font-size: 21px;
    color: Black;
}

ul a:hover {
    color: Grey;
}

#fullwidth {
    width: 900px;
    text-align: right;
    margin-bottom: 20px;
}

.headertext {
    text-align: right;
    width: 250px;
}

.headernav {
   width: 700px; 
   float: right;
}

#updates {
    width: 300px;
    min-height: 100%;
    background-color: White;
    margin-right: 50px;
    color: black;
    border: 1px dotted;
    border-radius:7px;
}

#aboutus {
    width: 550px;
    min-height: 200px;
    background-color: White;
    color: black;
    border: 1px dotted;
    border-radius:7px;
}

table {
    padding: 2px;
}

.boxtitle {
    text-align: left;
    color: Black;
    font-weight: 800;
    font-size: 25px;
    padding-bottom: 10px;
    padding-left: 10px;
}

#error {
    text-align: center;
    color: Red;
    font-weight: 800;
    font-size: 25px;   
    background: White;
    width: 800px;
    height: 40px;
    border: 1px dotted;
    padding: 10px 10px 10px 10px;
    border-radius:7px;
    margin: 0 auto;
    margin-bottom: 20px;
}

#proj {
    margin-left: 50px;
    
}
#proj img {
    margin-bottom: 5px;
    margin-right: 5px;
}

img {
    border: 0;
}

#proj-nav {
    float: right;
    text-align: center;
    color: Black;
    font-weight: 800;
    font-size: 16px;   
    background: White;
    width: 80px;
    height: 60px;
    border: 1px dotted;
    border-radius:7px;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    margin-right: 5px;
    margin-top: 5px;
}


